# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Archives
*.zip

# Exports
*.pdf
*.odt

# Temp
*.log
*.tmp

# Git working artifacts
*.patch
*status*.txt

# Local archive
_archive/
# MkDocs build output
site/